.container {
	border-radius: 0;
	gap: 10px;
	display: flex;
	max-width: 100vw;
	overflow: auto;
	padding: 2em;
	align-items: flex-start;
	justify-content: center;
}
.row {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	align-items: start;
	justify-content: center;
	gap: 10px;
}